# Node modules
node_modules/

# Logs
logs/
*.log

# Diretórios de build
dist/
build/

# Configurações do ambiente

.env.local
.env.*.local

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Outros arquivos temporários
*.tmp
*.swp
